extends layout

block content
    h1 Twit Gitting Grits and more
    img(src="/images/twitter-bird-icon.png")
    p Welcome to look around, and enjoy a Cuban sandwhich.
    p You are visiting from #{ip}